<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kursach2.Properties.Settings.cyvarevConnectionString"
            connectionString="server=silan.zyns.com;user id=cyvarev;password=cyvarev;database=cyvarev"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>